li a {
    color: grey;
    text-align: center;
    align-content: center;

}
h2 {
    color: greenyellow;
    text-align: center;
}
h1 {
    color: hotpink;
    text-align: center;
}

h3 {
    color: purple;
    text-align: center;
}

aaa {
    text-align: center;
}