<!DOCTYPE Html>
<html lang="en">

{% load static %}
<head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale=1.0">

<title>{% block title %}{% endblock %}</title>
</head>

<header>
        <h2> Welcome to my polls site </h2>
        <h3><a href="{% url 'polls:index' %}">home</a> | <a href="{% url 'admin:index' %}">adm</a></h3>
</header>

<body>

{% block content %}{% endblock %}
</body>
</html>
